  <?php
  $servername = {{ db_host }};
  $username = {{ db_user }};
  $password = {{ db_user_pass }};
  // Create connection
  $conn = new mysqli($servername, $username, $password);
  // Check connection
  if ($conn->connect_error) {
      die("Connection failed: " . $conn->connect_error);
  }
  echo "User $username connected successfully \n";
  ?>
